
<form method="<%= @method %>"
action="<%= @action %>">

  <div>
    Content </br>
    <textarea cols="50" rows"20" name="blog[content]">
    </textarea>
  </div>

  <button type="submit">Submit</button>

</form>

